<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonxiong.player">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.jonxiong.player.VideoPlayActivity"
            android:exported="false" />
        <activity
            android:name="com.jonxiong.player.record.CameraActivity"
            android:exported="false" />
    </application>

</manifest>